@model CrucibleBlog.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    @foreach (BlogPost blogPost in Model.BlogPosts)
    {
        <partial name="_BlogCard" model="@blogPost" />
    }
</div>

<!-- Display filtered BlogPosts -->
<div>
    <h4>BlogPosts</h4>
    <ul>
        @foreach (var post in Model.BlogPosts)
        {
            <li>@post.Title</li>
        }
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
