@model CrucibleBlog.Models.Tag

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>
    <ul>
        @foreach (BlogPost blogPost in Model.BlogPosts)
        {
                <partial name="_BlogCard" model="@blogPost" />
        }
    </ul>
</div>